*.vmdk 
*.vdi 
*.ova 
*.vmx 
*.vmem 
 
*.tmp 
*.log 
*.bak 
*.key 
*.crt 
*private* 
 
*password* 
*secret* 
 
*.tmp 
*.log 
*.bak 
 
*.key 
*.crt 
*private* 
 
*password* 
*secret* 
